<aside class="sidebar" ng-class="{'sidebar-open': sidebar.open}">
    <ul>
        <li>
            <a class="sidebar-item active" href="/#/" title="Anúncios">
                <i class="sidebar-icon material-icons">location_city</i>
                <span class="sidebar-label">Anúncios</span>
            </a>
        </li>
        <li>
            <a class="sidebar-item" href="/#novo" title="Anúncios">
                <i class="sidebar-icon material-icons">add_circle_outline</i>
                <span class="sidebar-label">Novo anúncio</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-overlay" ng-click="sidebar.toggle()"></div>
</aside>
